.body {
    display: grid;
    grid-template: 250px 1fr 1fr 1fr / 1fr 2fr 2fr 1fr;
    grid-template-areas:
    'header header header header'
    'main main main main'
    'main main main main'
    'main main main main'
    'footer footer footer footer'
    ;
    background-image: url("backgrounds-Certifi-KT_fix1.gif");
    background-position: center; /* Para centrar la imagen*/
    background-size: cover; /* Ajusta el tamaño al contenedor */
    background-color: #D9D9D9; /* Fondo por si falla la imagen */
    /* Margenes para que ajuste bien el footer */
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
   /*  max-height: 200px; */
}

.banner {
    color: #F1F1F1;
   /*  background-color: #052545; */
    flex: 90%;
    /* Centrado de Texto */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 300px; */
}

.banner_text {
    text-align: center;
}

navbar {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bolder;
    color: #282A35;
    background-color: #2DC01F;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    /* flex: 10%; */
/* FLEX PARA CENTRAR LAS OPCIONES DE NAVEGACION */
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.navbar_r {
    overflow: hidden;
  }
  
  .navbar_r a {
/*     float: right; */
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* font-size: 17px; */
  }
  

  .navbar_r a:hover {
    border: 2px solid #2DC01F;
    color: #2DC01F;
    background-color: #F1F1F1;
  }
  
  .navbar_r a.active {
    background-color: #282A35;
    color: #2DC01F;
  }
  
  
/*   .navbar_r .menu_icon {
    display: none;
  } */

navbar div a {
    padding: 0.25em 0em 0.25em 0em;
    text-decoration: none;
    color: #282A35;
}

navbar .home, .burger {
    padding: 0.25em 0.25em 0.25em 0.25em;
    margin: 5px 5px;
}

navbar .burger {
    width: 200px;
    text-align: right;
}

navbar .home {
    text-align: center;
    flex: 1;
}

navbar .navbar_links {
    display: flex;
    width: 200px;
}

.navbar_links_r {
    display: flex;
    flex-direction: column;
}

.navbar_links_r a {
    padding: 0.25em 0.25em 0.25em 0.25em;
    border: 2px solid #F1F1F1;
    margin: 5px 5px;
    background-color: #2DC01F; /* Green */
    border-radius: 10px;
    color: #F1F1F1;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

navbar .navbar_links a {
    padding: 0.25em 0.25em 0.25em 0.25em;
    border: 2px solid #F1F1F1;
    margin: 5px 5px;
    background-color: #2DC01F; /* Green */
    border-radius: 10px;
    color: #F1F1F1;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* transition: background-color .5s; */
}

navbar .burger a {
    padding: 0.25em 0.25em 0.25em 0.25em;
    border: 2px solid #F1F1F1;
    margin: 5px 5px;
    background-color: #2DC01F; /* Green */
    border-radius: 10px;
    color: #F1F1F1;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    z-index: 1000;
    /* transition: background-color .5s; */
}

.menu_icon {
    z-index: 1000;
}

navbar .navbar_links a:hover {
    border: 2px solid #2DC01F;
    color: #2DC01F;
    background-color: #F1F1F1;
}

aside {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 250px;
    grid-area: aside;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    color: #F1F1F1;
    background-color: #282A35;

    border-radius: 10px;
    z-index: 10;
    position: fixed;
    transform: translateX(250px);
    padding-top: 100px;
}

.menu_aside {
    transform: translateX(0px);
}

main {
    grid-area: main;
    /* FLEX PARA DIVIDIR EL MAIN EN EL MENU Y LOS ARTICULOS */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    /* Transparencia con el Footer */
    z-index: 1;
}

footer {
    grid-area: footer;
    font-family: 'Roboto Flex', sans-serif;
    color: #D9D9D9;
    background-color: #282A35;
    width: 100%;
}

.footer_fade {
    font-family: 'Roboto Flex', sans-serif;
    color: #D9D9D9;
    background-color: #282A35;
    background: linear-gradient(rgba(40, 42, 53, 0),rgba(40, 42, 53, 0.5), rgba(40, 42, 53, 0.75), rgba(40, 42, 53, 1) );

    /* Transparencia */
    margin-top: -100px;
    height: 105px;
    width: 100%;
    z-index: 2;
    position: relative;
}


.footer_container {
    display: flex;
    justify-content: space-evenly;
}

.foot_flex {
    padding: 10px 0px 10px 0px;
    color: #F1F1F1;
}


section {
    /* FLEX PARA ORDENAR VERTICAL LOS ARTICULOS */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: stretch;
    flex: 100%;
}

article {
    font-family: 'Inter', sans-serif;
    background-color: #F1F1F1;

    margin: 20px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    box-shadow: #282A35 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.simple_list {
    padding-left: 0;
}


/* ESTILO DE TEXTOS */

h1 {
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

h4 {
    font-family: 'Whitney', Tahoma, Arial, sans-serif;
}

span {
    font-family: 'consolas', sans-serif;
    /* font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace; */
    color: #2DD61F;
    background-color: #282A35;
}

.banner_text {
    text-shadow: #282A35 10px;
}


/* Media breakpoints */

/* Extra small devices (600px and down) // Celulares */
@media only screen and (max-width: 600px) {
    navbar {
        background-color: #c0371f;
    }



    .navbar_r .navbar_links {visibility: hidden;}
/*     .navbar_r a.menu_icon {
      float: right;
      display: block;
    } */

/*     .navbar_r.responsive {position: relative;}
    .navbar_r.responsive .menu_icon {
      position: absolute;
      right: 0;
      top: 0;
    } */
    .navbar_r.responsive a {
      float: none;
      /* display: block; */
      text-align: left;
    }
    }

    .footer_container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin-left: 5vw;
    }

/* Large devices (992px and up) // Pcs y Monitores */
@media only screen and (min-width: 992px) {
    navbar {
        background-color: #b01fc0;
    }
    }